%h1 Why?

TextMate 2's been in development since at least Feburary 2006 and this seems like a very long time. There wasn't a site (as far as I could tell) that gave you a comprehensive listing of TextMate 2 changes in bite-sized pieces, so I made one. I couldn't think of all the changes of course, so you're able to add your own.