.fix 
  %h1== #{h(@fix[:text])} fixed by TextMate 2
  %small
    Permalink: 
    %a{ :href => "http://fixedbytm2.com/#{@fix[:id]}", :id => "permalink" }
      == http://fixedbytm2.com/#{@fix[:id]}
    \|
    %a{ :href => "http://twitter.com/home?status=your custom tweet" }
    %a{ :href => "/"} Random
    - unless @hide_count
      \|
      == #{Fix.count} fixes!
  %br
  %br 

.yours 
  %form{ :action => "/fixes", :method => "post" }
    %h3 Suggest a fix
    %textarea{ :name => "text" }
    %br
    fixed by TextMate 2
    %br
    %input{ :type => "submit", :name => "submit", :value => "Suggest it!"}