!!!
%html
  %head
    %title Fixed by TextMate 2
    %link{ :rel => "stylesheet", :href => "/style.css?#{Time.now.to_i}"}
    %script{ :src => "/jquery.js?#{Time.now.to_i}", :type => "text/javascript" }
    %script{ :src => "/application.js?#{Time.now.to_i}", :type => "text/javascript" }
  %body
    %div{ :align => "center" }
            
      = yield

      #footer 
        This site uses the
        %a{ :href => "http://github.com/radar/fixedintm2"} fixedbytm2
        %a{ :href => "http://sinatrarb.com"} Sinatra 
        application built by
        %a{ :href => "http://frozenplague.net"} Ryan Bigg
        of
        %a{ :href => "http://mocra.com" } Mocra