!!!
%html
  %head
    %title OV-failkaart
    %link{ :rel => "stylesheet", :href => "/style.css?#{Time.now.to_i}"}
    %script{ :src => "/jquery.js?#{Time.now.to_i}", :type => "text/javascript" }
    %script{ :src => "/application.js?#{Time.now.to_i}", :type => "text/javascript" }
  %body
    #container{ :align => "center"}
            
      = yield
      
    #footer
      Deze site gebruikt
      %a{ :href => "http://sinatrarb.com"} Sinatra 
      
      %script{ :src => "http://google-analytics.com/ga.js",  :type => 'text/javascript' }
      
      %script{ :type => "text/javascript" }
        try {
        var pageTracker = _gat._getTracker("UA-60089-37");
        pageTracker._trackPageview();
        } catch(err) {}
