html, body { 
  height: 100%; 
} 

#container { 
  min-height: 100%; 
} 

* html #container { 
  height:  100%; 
}

body {
  background: #EB088C;
  font: 14pt Helvetica;
  color: white;
}

a {
  color: #FFFFFF; 
  text-decoration: underline;
  font-style: italic;
}

.fail h1 {
  font-size:64pt;
}

.yours { 
  color: #97377d;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  width: 50%;
  background: white;
}

.yours textarea { 
  width: 75%;
  height: 4em;
  font-size: 24pt;
}

#footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 75%;
  margin-top: 50pt;
  text-align: right;
  clear: both;
}
            
.ribbon {
	position: absolute;
	top: 0;
	right: 0;
    border: 0;"
}