html, body { 
} 

#container { 
} 

* html #container { 
}

body {
  background: #EB088C;
  font: 14pt Helvetica;
  color: white;
}

a,a:visited {
  color: #FFFFFF; 
  text-decoration: underline;
  font-style: italic;   
}     
img {border:none;}

.fail h1 {
  font-size:64pt;
}

#card {
	width:574px;
	height:384px;
	background:#eb088c url(/card_bg.png) top left no-repeat;
}


#card .exampleText {
	color:#ccc7ca;
}

#card textarea { 
	margin-top:59px;
	width:450px;
	background:transparent;
	margin-left:30px;
	height:220px;
	border:none;     
	font: 30pt Helvetica;   
	color: #EB088C;     
}
                        
#card input.submit { 
	margin-top:45px;
	margin-left:380px;
	font-size:18px;
}

#footer {        
  clear: both;
}
            
#fail_counter {            
	text-align:left;
	margin-left:59px;
	margin-top:14px;
	font-size:18px; 
	color: #EB088C;     
	
}
#twitter {         
	border:none;
	float:left;
}
#madeby {
	margin-top:40px;
	float:right;
}